.row {
  margin-left: 20px;
}

.image {
  object-fit: contain;
  transition: transform 450ms;
  margin-right: 10px;
  height: 100px;
  border-radius: 10px;
}

.row_posters {
  display: flex;
  overflow-y: scroll;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.image:hover {
  transform: scale(1.08);
}

.movie_name {
  font-size: 14px;
}
.release_date {
  margin: 0;
  color: gray;
}

.low {
  border: 3px solid red;
}
.mid {
  border: 3px solid yellow;
}
.high {
  border: 3px solid greenyellow;
}

.navWrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  width: fit-content;
  border: 2px solid #0d253f;
  margin-right: 10px;
}
.Link {
  background-color: white;
  color: #0d253f;
  text-decoration: none;
  padding: 10px;
}
.activeLink {
  font-weight: bold;
  color: #90cea1;
  background-color: #0d253f;
}
