.row {
  margin-left: 20px;
}

.display {
  display: flex;
}
.image {
  object-fit: contain;
  transition: transform 450ms;
  margin-right: 10px;
  height: 250px;
  border-radius: 10px;
}

.row_posters {
  display: flex;
  overflow-y: scroll;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.image:hover {
  transform: scale(1.08);
}

.movie_name {
  font-size: 14px;
}
.release_date {
  margin: 0;
  color: gray;
}

.low {
  border: 5px solid red;
}
.mid {
  border: 5px solid yellow;
}
.high {
  border: 5px solid greenyellow;
}

.navWrapper {
  width: fit-content;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Link {
  background-color: white;
  color: #0d253f;
  text-decoration: none;
  font-weight: 600;
  padding: 5px;
}
.activeLink {
  font-weight: bold;
  color: #90cea1;
  background-color: #0d253f;
  border-radius: 1.2em;
}
