.row {
  margin-left: 20px;
}

.image {
  object-fit: contain;
  transition: transform 450ms;
  margin-right: 10px;
  height: 150px;
  border-radius: 10px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.image:hover {
  transform: scale(1.08);
}

.movie_name {
  font-size: 14px;
}
.release_date {
  margin: 0;
  color: gray;
}

.low {
  border: 3px solid red;
}
.mid {
  border: 3px solid yellow;
}
.high {
  border: 3px solid greenyellow;
}
