.footer {
  background-color: #0d253f;
  color: white;
  height: 130px;
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.logo {
  margin-left: 40px;
  width: 130px;
  height: 94px;
}
